.Button {
  background: salmon;
  border: solid;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.routerOutlet {
  display: flex;
  justify-content: flex-start;
}
.Details {
  width: 600px ;
  display: flex;
  justify-content: flex-end;
}
